<form id="form_73894" class="appnitro"  method="post" action="index.php?section=newconfig&function=formadd">
					
<ul >

    <li id="li_1" >
        <label class="description" for="element_1">Libelle </label>
        <div>
            <input id="libelle" name="libelle" require class="element text medium" type="text" maxlength="255" value=""/> 
        </div> 
    </li>	

    <li id="li_2" >
        <label class="description" for="element_2">IP
        </label>
        <div>
            <input id="ip" name="ip" require class="element text medium" type="text" maxlength="255" value=""/> 
        </div> 
    </li>

    <li id="li_3" >
        <label class="description" for="element_3">Identifiant </label>
        <div>
            <input id="identifiant" require name="identifiant" class="element text medium" type="text" maxlength="255" value=""/> 
        </div> 
    </li>

    <li id="li_4" >
        <label class="description" for="element_4">Mot de passe </label>
        <div>
            <input id="motdepasse" require name="motdepasse" class="element text medium" type="password" maxlength="255" value=""/> 
        </div> 
    </li>	

    <li id="li_5" >
        <label class="description" for="element_5">Mot de passe 2 </label>
        <div>
            <input id="motdepasse2" require name="motdepasse2" class="element text medium" type="password" maxlength="255" value=""/> 
        </div> 
    </li>

    <li class="buttons">
    <input type="hidden" name="form_id" value="73894" />

    <input id="saveForm" class="button_text" type="submit" value="Submit" />
    </li>
</ul>
</form>	