@font-face {
    font-family: "HelveticaNeue";
    src: url("/Assets/Font/HelveticaNeue-Black.woff") format("woff");
}

html {
    margin: 0px;
}

body {
    font-family: "HelveticaNeue", sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 1em;
    background-color: #dddddd;
}

h1 {
    margin: 10px 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    margin: 5px 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px 0px;
}

.menu {
    width: 12%;
    padding: 5px;
    background-color: #222222;
    color: white;
    bottom: 0px;
    position: fixed;
    min-height: 100%;
}

.menu nav {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #0077ff;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.conteneur {
    position: fixed;
    right: 0px;
    width: 87%;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
}

table {
    width: 70%;
    margin: 0 auto;
    border-spacing: 0px;
}

tr {
    height: 35px;
}

td {
    border-top: 1px solid black;
}

.blue {
    color: #0077ff;
}

.separator {
    width: 40%;
    border-bottom: 2px solid #0077ff;
    margin: 20px auto;
}

.buttonConn {
    text-decoration: none;
    color: black;
    padding: 0.2vw;
    border: 1px solid black;
    border-radius: 5px;
}

.buttonConn:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}

.pastille-green {
    color: #00d600;
}

.pastille-red {
    color: red;
}

.pastille-gray {
    color: gray;
}

.ajoutApp {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #0077ff;
    color: white;
}

.ajoutApp:hover {
    background-color: #4099ff;
    color: white;
}
